.Footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.menu-footer{
    display: flex;
    /* top: 0; */
}
.menu-footer a img{
    height: 30px;
    width: 30px;
}

.menu-footer a{
    text-align: center;
    /* border: 1px solid #000; */
    background: #fff;
    padding: 5px;
    width: 100%;   
    cursor: pointer;
}
.menu-footer a:hover{
    color: #e0b600;
}

.menu-footer a img:active{
    /* color: #D7AF00; */
    fill: #D7AF00;
}

span{
    padding: 0;
    display: block;
    font-size: 12px;
}

