@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;500&display=swap');

.Header{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}
.NavHeader{
    background: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Prompt', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.LogoHeader{
  /* justify-self: center; */
  height: 0;

}

.NavHeader .LogoHeader img{
    /* margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px; */
    padding: 10px;
    width: 50px;
    height: 50px;
}

.TextHeadCenter p{
    text-align: center;
    padding: 3vh;
    color: white;
}

.Header #myLinks {
    background: rgb(255, 255, 255);
    display: none;
    position: absolute;
    right: 0;
    padding: 10px;
  }
  .Header #myLinks img{
    width: 16px;
    height: 16px;
    margin-right: 15px ;
    margin-top: 15px;
  } 

.Header a {
    color: rgb(0, 0, 0);
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .NavHeader a.icon {
    justify-self: right;
    display: block;
    align-self: center;
    right: 0;
    top: 0;
    padding-top: 1vh;
    padding-bottom: 0;
  }
  .NavHeader a.icon img{
    width: 40px;
    height: 40px;
    padding: 1vh;
  } 